* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}



.container {
    width: 100vw;
    padding: 2rem 2rem;
}

.card {
    border: 1px solid;
    height:90%;
    width:90%;
    margin:8rem auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10rem 5rem;
    gap: 3rem;
    background: #55dd;
}

.question{
    font-size:3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color:black;
    opacity: 0.6;
}



.option{
    font-size:2rem;
    margin: 0.5rem 0.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #fafafa;
    text-shadow: 0px 0px 10px;
}
.option,.nextbtn:hover{
    cursor: pointer;
    text-shadow: none;
}
/* .option:hover{
    text-shadow: none;
} */

.nextbtn{
    /* display: inline-block; */
    padding:0.5rem 0.9rem;
    font-size:1.5rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0.5rem;

}